.git
.gitignore
downloads
__pycache__
*.pyc
*.pyo
*.pyi
.pytest_cache
.ruff_cache
tests
assets
reclip.bat
reclip.sh
CONTRIBUTING.md
README.md
LICENSE
docker-compose.yml
Dockerfile
.dockerignore
.env
.env.*
.vscode
.idea
venv

